* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body{
  margin: 20px;
  padding: 10px;
  height: 100vh;
  width: 100vw;
}

.pokemon--container {
  padding: 15px;
  text-align: center;
  color: rgb(46, 97, 42);
  background-color:  rgb(130, 207, 123);
}

.pokemon--list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.pokemon--card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: solid 1px white;
  border-radius: 10px;
  color: rgb(83, 133, 79);
}

.pokemon--types-list{
  display: flex;
  margin: 5px;
}

.pokemon--types-element{
  margin: 5px;
  width: 50px;
  text-align: center;
  background-color: rgb(232, 238, 150);
  border: solid 1px rgb(83, 133, 79);
  border-radius: 5px;
}